@page
@model Torneo.App.Frontend.Pages.Partidos.IndexModel
@{
}
<a class="btn btn-success" asp-page="./Create">Crear partido</a>
<h1>Lista de partidos</h1>
<title>cambiar tipo de letra</title>
<style>
        h1{
            font-family: fantasy;
            color: green;
        }
</style>
<table class="table table-success table-striped">
    <thead>
        <tr>
            <th scope="col">Id</th>
            <th scope="col">Local</th>
            <th scope="col">Visitante</th>
            <th scope="col">Fecha</th>
            <th scope="col">Acciones</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var partido in Model.partidos)
        {
            <tr>
                <th scope="row">@partido.Id</th>
                <td>@partido.Local.Nombre</td>
                <td>@partido.Visitante.Nombre</td>
                <td>@partido.FechaHora</td>
                <td>
                    <a class="btn btn-success" asp-page="./Details" asp-route-id="@partido.Id">
                        Detalle
                    </a>
                </td>

            </tr>
        }
    </tbody>
</table>
